@import '../colors.css';

* {
    font-size: 15px;
	font-family: Hack;
    border-radius: 8px;
}

/* Recommended if panel "height" unset or smaller then your theme default button height */
button {
    margin: 0px;
    border: 0px;
}

#pl-button {
    border-radius: 25px;
    margin: 2px;
}

/* SwayTaskBar and SwayWorkspaces use custom widgets, that need this and the next name
   to highlight currently focused task / workspace. */
#task-box {
    padding-left: 4px;
    padding-right: 4px
}

#task-box-focused {
    background-color: rgba (255, 255, 255, 0.12);
    padding-left: 4px;
    padding-right: 4px;
}


/***** MODIFY TO YOUR TASTE *****/

/* Sample button in sample config w/ no background nor border */
#button-custom {
    background: rgba (0, 0, 0, 0.0);
    border: 0;
    border-radius: 25px;
}

/* Top panel in sample config uses this name */
#panel-top {
    /*background: alpha(@bg, 0.6);*/
    color: @font;
    padding-left: 20;
}

/* Bottom panel in sample config uses this name */
#panel-bottom {
    background: #101010;
    color: #eeeeee
}

/* Controls window in sample config uses this name */
#controls-window {
    border-radius: 15px;
    /*background: alpha(@bg, 0.6);*/
    color: @font
}

#controls-window scale value {
    color: @font;
}

/* Brightness slider popup window in sample config uses this name */
#brightness-popup {
    border-radius: 15px;
    background: #36364f;
    color: #eeeeee
}
#brightness-popup box {
    padding: 15px;
}

/* Executors usually behave better in monospace fonts */
#executor-label {
}

/* and so does the Clock */
#clock {
    padding-left: 10px;
    padding-right: 10px;
}

/* Sample executor-weather uses "css-name": "weather" */
#weather {
}

/* dwl-tags module */
#dwl-tag-box {
	padding-top: 4px;
	padding-bottom: 4px
}

#dwl-tag-occupied {
	color: #eee;
    background-color: #006699;
    padding-left: 3px;
    padding-right: 3px;
}

#dwl-tag-free {
	color: #eee;
    background-color: rgba (32, 50, 90, 1.0);
    padding-left: 3px;
    padding-right: 3px;
}

#dwl-tag-urgent {
	color: #eee;
    background-color: #ee6600;
    padding-left: 3px;
    padding-right: 3px;
}

#dwl-tag-selected {
	border: solid 2px;
	border-color: #81a1c1
}
